
/* Element Selector */
img {
    width: 30%;
}

/* class selector */
.wrapper {
    background-color: #d2d1cf;
    width: 100%;
    margin: 0 auto;
}

/* combinators */
main > p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* ID selector */
#Odd-Bullets {
    font-family:Arial, Helvetica, sans-serif;
}

/* attribute selector */
body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

ul li:nth-child(odd) {
    font-weight: bold;
}

