
html {
    background: radial-gradient(circle, rgba(222,145,83,1) 0%, rgba(217,215,210,1) 50%, rgba(236,71,82,1) 100%);
}

header {
    width: 90%;
    margin: 0 auto;
    background-color: #82888f;
    padding: 3px;
    margin-top: 10px;
}

h1 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    filter: drop-shadow(10px 10px 10px black);
}

h2 {
    text-align: center;
}

img {

    max-width: 100%;
    height: auto;
  }


img:hover{
    filter: blur(2px)brightness(0.5);
}

/* class selector */
.wrapper {
    background-color: #5da4c2;
    width: 80%;
    border: 2px solid #000000;
    margin: 0 auto;
}

div.wrapper  {
    width: 80%;
}

/* combinators */
main > p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* ID selector */
#Odd-Bullets {
    font-family:Arial, Helvetica, sans-serif;
}

/* attribute selector */
body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

ul li:nth-child(odd) {
    font-weight: bold;
}

/* fixed the issue I had from the last lab */
table {
    table-layout: fixed;
    width: 100%;
}